<html ng-app="MemeGenerator">
	<head>
		<title>Meme Generator</title>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/select.min.css"/>
  		<link rel="stylesheet" type="text/css" href="css/select2.css">

		<!-- Javascript -->
		<script src="js/lib/angular.min.js"></script>
		<script src="js/lib/ui-bootstrap.min.js"></script>
		<script src="js/lib/angular-sanitize.js"></script>
		<script src="js/lib/select.min.js"></script>

		<script src="js/memes.js"></script>
		<script src="js/script.js"></script>

	</head>
	<body>
	<div class="container">

		<h2 class="text-center">Meme Generator</h2>

		<img id="template" src="img/template/template.png" style="display: none;">
		<img id="current_image" src="" style="display: none;">

		<div ng-controller="MainController">

				<div class="row">

					<div class="col-xs-12 col-md-6">

					  <div class="panel panel-default">
					    <div class="panel-heading">
								<b>Preview</b>
							</div>
					    <div class="panel-body">
								<div class="canvas"></div>
							</div>
					  </div>

					</div>

					<div class="col-xs-12 col-md-6">

						<div class="panel panel-default">
					    <div class="panel-heading">
								<b>Meme Settings</b>
							</div>
					    <div class="panel-body">
								<div class="text-center">
									<input type="text" class="form-control" ng-model='toptext' ng-change="addText()" placeholder="top text"/>
									<br>
									<input type="text" class="form-control" ng-model='bottomtext' ng-change="addText()" placeholder="bottom text"/>
									<br>
								</div>

								<uib-tabset active="activeTab">

			          	<uib-tab index="0" heading="WoW">
									  <ui-select ng-model="current_wow_meme" theme="select2" ng-disabled="disabled" ng-change="alterMeme(current_wow_meme.url)" class="form-control" ng-click="alterMeme(current_wow_meme.url)">
											<ui-select-match placeholder="Select a meme"><img ng-src="{{ $select.selected.url.replace('.', '_thumbnail.') }}" /> {{$select.selected.name}}</ui-select-match>
											<ui-select-choices repeat="meme in (wow_memes | filter: $select.search)">
											  <img ng-src="{{ meme.url.replace('.', '_thumbnail.') }}" />
											  <div ng-bind-html="meme.name" style="display: inline"></div>
											</ui-select-choices>
										  </ui-select>
					          </uib-tab>

								  <uib-tab index="1" heading="Game of Thrones">
									  <ui-select ng-model="current_got_meme" theme="select2" ng-disabled="disabled" ng-change="alterMeme(current_got_meme.url)" class="form-control" ng-click="alterMeme(current_got_meme.url)">
											<ui-select-match placeholder="Select a meme"><img ng-src="{{ $select.selected.url.replace('.', '_thumbnail.') }}" /> {{$select.selected.name}}</ui-select-match>
											<ui-select-choices repeat="meme in (got_memes | filter: $select.search)">
											  <img ng-src="{{ meme.url.replace('.', '_thumbnail.') }}" />
											  <div ng-bind-html="meme.name" style="display: inline"></div>
											</ui-select-choices>
									  </ui-select>
				          </uib-tab>

								  <uib-tab index="2" heading="Other">
									  <ui-select ng-model="current_meme" theme="select2" ng-disabled="disabled" ng-change="alterMeme(current_meme.url)" class="form-control" ng-click="alterMeme(current_meme.url)">
	  								  <ui-select-match placeholder="Select a meme"><img ng-src="{{ $select.selected.url.replace('.', '_thumbnail.') }}" /> {{$select.selected.name}}</ui-select-match>
	  								  <ui-select-choices repeat="meme in (memes | filter: $select.search)">
	  									<img ng-src="{{ meme.url.replace('.', '_thumbnail.') }}" />
	  									<div ng-bind-html="meme.name" style="display: inline"></div>
	  								  </ui-select-choices>
	  								</ui-select>
				          </uib-tab>

			        	</uib-tabset>

								<br>
                <br>

								<div class="text-center">
									<b>Custom image URL:</b>
									<input type="text" class="form-control" placeholder="http://image.org/image.png" ng-model="custom_image" ng-change="alterMeme(custom_image)">
									<br>
<!--									<button class="btn btn-success" style="width: 100px;">Load</button> -->
								</div>

                <br>

								<div class="text-center">
									<b>Custom image from file:</b>
									<center>
										<input type="file" id="files" name="files[]" multiple class="btn btn-default btn-file">
									</center>
									(load images with NxN size)
								</div>

								<br>
								<button class="btn btn-large btn-primary" ng-click="create()"><h4>Save Image</h4></button>
							</div>
					  </div>

					</div>

				</div>

				<footer> by <a href="http://twitter.com/dmamills">@dmamills</a> &&  <a href="http://github.com/Helias">Helias</a></footer>

			</div>
		</div> <!-- end container -->
	</body>
</html>
